.main-title {
    color: black;
    text-align: center;
    margin-top: 150px;
}

#calculator {
    text-align: center;
}

.input-number {
    padding: 15px;
    width: 300px;
}

.calculation-buttons {
    margin-top: 50px;
}

.calculation-buttons button {
    height: 50px;
    width: 50px;
    font-weight: bolder;
}

#results {
    text-align: center;
}

.current-result {
    font-weight: bold;
}

/* Test part */

#btn-start,
#btn-stop {
    width: 200px;
}